$color-white: #fff;
$color-white-darker: #f2f2f2;

$font-color-primary: #444;
$font-color-secondary: #8a2be2;
$font-color-tertiary: #32cd32;

$font-size-title: 4rem;
$font-size-large: 2rem;
$font-size-normal: 1.6rem;
$font-size-small: 1.2rem;

$box-shadow: 1rem 1rem 2rem rgba(#000, 0.1);
$box-shadow-light: 0.5rem 0.5rem 1rem rgba(#000, 0.1);

$border-grey: 1px solid #ccc;
$border-grey-light: 1px solid #eee;

// MEDIA QUERIES - BREAKPOINTS
$breakpoint-lg: 1280px;
$breakpoint-md: 960px;
$breakpoint-sm: 600px;
$breakpoint-xs: 400px;
