@import "../../sass/variables.scss";
.Button {
  font-size: $font-size-small !important;
  border-radius: 10rem !important;
  padding: 1rem 3rem !important;

  &:disabled {
    color: #ccc !important;
  }
}
.Secondary {
  color: $color-secondary !important;
}

.Tertiary {
  color: $color-tertiary !important;
}
