@import "../../sass/variables.scss";
.Button {
  font-size: $font-size-normal !important;
  border-radius: 10rem !important;
  padding: 1rem 4rem !important;
}
.Secondary {
  color: $color-secondary !important;
}

.Tertiary {
  color: $color-tertiary !important;
}
