@import "../../../sass/variables.scss";

.form-group {
  .MuiOutlinedInput-root {
    border-radius: 10rem;
    font-size: $font-size-normal;
    font-weight: 300;
    transition: all 0.2s;

    fieldset {
      transition: all 0.2s;
    }

    &:hover fieldset {
      border: $border-grey;
    }
  }

  .Mui-focused {
    transform: translateY(-3px);

    fieldset {
      box-shadow: $box-shadow-light;
      border: $border-grey !important;
    }
  }

  .MuiSvgIcon-root {
    font-size: 2rem;
    fill: rgba(#000, 0.2);
  }
}
