.Question_Container {
  margin: 2rem 0;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  .Question {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
  }
  .Question_Content {
    text-transform: unset;

    span {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .Answers {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 2rem;

    &_Title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 2rem;
    }

    .MuiSvgIcon-root {
      width: 1.5rem;
      height: 1.5rem;
    }
    .correct {
      .MuiSvgIcon-root {
        fill: green;
      }
    }

    .wrong {
      .MuiSvgIcon-root {
        fill: red;
      }
    }
  }
  .feedback {
    grid-column: 1/-1;
    text-align: center;
    font-weight: 300;
    font-size: 2rem;
  }
}
