@import "../../../sass/variables.scss";

.Question_Container {
  margin: 3rem;
  border: $border-grey-light;
  box-shadow: $box-shadow-light;
  border-radius: 5px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  &:last-child {
    margin-bottom: 4rem;
  }

  .Question {
    grid-column: 1/-1;
    text-align: center;
    font-size: $font-size-normal;
    text-transform: uppercase;
    font-weight: 300;
  }
  .Question_Content {
    text-transform: unset;

    span {
      color: rgba(0, 0, 0, 0.5);
    }
  }

  .Answers {
    display: flex;
    flex-direction: column;
    border: $border-grey-light;
    border-radius: 5px;
    padding: 2rem;

    &_Title {
      text-align: center;
      text-transform: uppercase;
      font-weight: 300;
      margin-bottom: 2rem;
    }

    .MuiFormControlLabel-root {
      padding-top: 1rem;
    }
  }
  .feedback {
    grid-column: 1/-1;
    text-align: center;
    font-weight: 300;
    font-size: $font-size-large;
  }
}
