@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Title {
  margin-bottom: 3rem;

  @include media_maxWidth($breakpoint-sm) {
    margin-bottom: 2rem;
  }

  @include media_maxWidth($breakpoint-xs) {
    margin-bottom: 1rem;
  }
}
