@import "../../../sass/variables.scss";
@import "../../../sass/mixins.scss";

.Flex {
  margin-top: 5rem;
  max-width: 100rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @include media_maxWidth($breakpoint-xs) {
    margin-top: 3rem;
  }
}

.Flex_item {
  max-width: 30em;
  width: 25rem;
  margin: 1rem !important;
  padding: 2rem;
  border: $border-grey-light;
  border-radius: 3px;
  box-shadow: $box-shadow-light;

  .title {
    font-size: $font-size-normal;
    font-weight: 300;
    line-height: 2.5rem;
    text-align: center;
  }

  .levels {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-wrap: wrap;
    font-size: $font-size-small;
    font-weight: 300;

    span {
      cursor: pointer;
      color: rgba($color-secondary, 0.3);
      padding: 0.5rem;
      text-transform: uppercase;
      transition: all 0.2s;

      &:hover {
        transform: scale(1.15);
        color: $color-secondary;
      }
    }

    .random {
      color: rgba($color-primary, 0.5);

      &:hover {
        color: $color-primary;
      }
    }

    #JavaScript_Medium,
    #JavaScript_Hard,
    #JavaScript_ {
      display: none;
    }
  }
}
