@import "./sass/variables.scss";
@import "./sass/mixins.scss";

.App {
  max-width: 120rem;
  margin: 5rem;
  padding: 5rem;
  background-color: $color-white;
  color: $font-color-primary;
  box-shadow: $box-shadow;

  @include media_maxWidth($breakpoint-md) {
    margin: 0rem;
  }
  @include media_maxWidth($breakpoint-sm) {
    padding: 4rem 2rem;
  }
}
