@import "./sass/variables.scss";
@import "./sass/mixins.scss";

.App {
  max-width: 120rem;
  width: 100vw;
  height: 100%;
  padding: 5rem;
  background-color: $color-white;
  color: $color-primary;
  box-shadow: $box-shadow;

  @include media_maxWidth($breakpoint-sm) {
    padding: 4rem 2rem;
  }
}
