@import "./sass/variables.scss";
@import "./sass/mixins.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px

  @include media_maxWidth($breakpoint-sm) {
    font-size: 50%;
  }
}

body {
  font-family: Roboto, sans-serif;
  background-color: $color-white-darker;
  display: flex;
  justify-content: center;
}
